<div class="col-md-4 sidebar">
    <div class="widget well">
        <h4>Nicolas Torre</h4>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    <img src="upload/{{ bio.image }}" alt="photo">
                    {{ bio.presentation }}
                </p>
            </div>
        </div>
    </div>
    <div class="widget well">
        <h4>Compétences</h4>
        {% for skill in bio.skill %}

            <div class="row">
                <p class="col-xs-5 col-sm-5"><a href="{{ skill.link }}" target="_blank">{{ skill.label }}</a></p>
                <div class="col-xs-1 col-sm-3" style="background-color: #337ab7; height: 2em; width: {{ skill.level }}px;"></div>
            </div>

        {% endfor %}
    </div>
    <div class="widget well hidden-xs">
        <h4>Passions</h4>
        {% for interest in bio.interest %}
            <p>{{ interest.label }}</p>
        {% endfor %}
    </div>
</div>