<div class="row well">
    <h1><a href="{{ path('showArticle', {'id': article.id}) }}" title="{{ article.title }}">{{ article.title }}</a></h1>
    <hr>
    <img class="img-responsive" src="upload/{{ article.image }}" alt=""> <!--http://placehold.it/900x300-->
    <hr>
    <p class="lead text-justify">{{ article.content|raw }}</p>

    {% include 'Partials/Article/ShareSocialNetwork.html.twig' %}

    <p class="author-date">Posté par <a href="{{ path('indexBio') }}">{{ user(article.author).username }}</a><i class="glyphicon glyphicon-time"></i> le {{ article.publishedDate |date("j M Y") }}</p>

    {#{% include 'Partials/Article/Comments.html.twig' %}#}

</div>