<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <title>Nicolas Torre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog développeur web qui présente mes projets, ma veille techno et mes expériences!" />
    <meta name="keywords" content=" développeur web, PHP, JS, jQuery, tutoriel, informatique, programmation" />

    <base href="{{ path('home') }}">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/monokai-sublime.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>

<!-- Menu -->
<div id="menu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Nicolas Torre</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home') }}">Blog</a></li>
                <li><a href="{{  path('indexBio') }}">Bio</a></li>
                <li><a href="{{  path('addContact') }}">Contact</a></li>
                <li><a href="{{ path('listArticle') }}">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ links.email }}" target="_blank" rel="nofollow" ><span class="glyphicon glyphicon-custom glyphicon-email"></span></a></li>
                <li><a href="{{ links.linkedin }}" target="_blank" rel="nofollow" ><span class="glyphicon glyphicon-custom glyphicon-linkedin"></span></a></li>
                <li><a href="{{ links.twitter }}" target="_blank" rel="nofollow" ><span class="glyphicon glyphicon-custom glyphicon-twitter"></span></a></li>
                <li><a href="{{ links.github }}" target="_blank" rel="nofollow" ><span class="glyphicon glyphicon-custom glyphicon-github"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Fin Menu -->

<div class="main">

    {#<h1 class="construction">Site en construction</h1>#}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {#<div class="construction"></div>#}

    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <div class="row nav-blog">
            <div class="col-sm-3 col-sm-offset-1">
                <h4>Articles récents</h4>
                <ul class="list-unstyled">
                    {%  for article in recentArticles %}
                        <li><a href="{{ path('showArticle', {'id': article.id}) }}">{{ article.title }}</a></li>
                    {%  endfor %}
                </ul>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <h4>Recherche</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <p>Cette oeuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution 3.0 non transposé.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                Copyright 2015 Nicolas Torre <a href="{{ path('mentionslegalesStatic') }}">Mentions Légales</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>