{% extends 'Layout/Backoffice.html.twig' %}

{% block content %}

    <div class="well">
        <h2 class="text-center">{{ title }}</h2>

        {{ form_start(bioForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(bioForm.firstname, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(bioForm.firstname) }}
                {{ form_widget(bioForm.firstname, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(bioForm.lastname, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(bioForm.lastname) }}
                {{ form_widget(bioForm.lastname, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(bioForm.image, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(bioForm.image) }}
                {{ form_widget(bioForm.image) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(bioForm.presentation, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(bioForm.presentation) }}
                {{ form_widget(bioForm.presentation, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(bioForm) }}
    </div>
    <script>
        $('#bio_image').fileinput({showUpload: false});
    </script>
{% endblock %}