{% extends "Layout/Backoffice.html.twig" %}

{% block content %}

    <div class="tab-pane fade in active adminTable well" id="articles">
        <h2>Bio</h2>
        {% if bio %}
            <div>
                <a href="{{ path('editBio', { 'id': bio.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#bioDialog{{ bio.id }}"><span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal fade" id="bioDialog{{ bio.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                            </div>
                            <div class="modal-body">
                                Do you really want to delete this bio ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a href="{{ path('deleteBio', { 'id': bio.id }) }}" class="btn btn-danger">Confirm</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                        <tr>
                            <th>Last name</th><td>{{ bio.lastname }}</td>
                        </tr>
                        <tr>
                            <th>First name</th><td>{{  bio.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Presentation</th><td>{{  bio.presentation }}</td>
                        </tr>

                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">No bio found.</div>
            <a href="{{ path('addBio') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add bio</button></a>
        {% endif %}
    </div>

    <div class="tab-pane fade in active adminTable well" id="articles">
        <h2>Diplomas</h2>
        {% if bio.diploma %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Title</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                    </thead>

                    {% for diploma in bio.diploma %}
                        <tr>
                            <td>{{ diploma.startDate | date("Y-m-d") }}</td>
                            <td>{{ diploma.endDate | date("Y-m-d") }}</td>
                            <td><a class="articleTitle" href="#">{{ diploma.title }}</a></td>
                            <td>
                                <a href="{{ path('editDiploma', { 'id': diploma.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#diplomaDialog{{ diploma.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <div class="modal fade" id="diplomaDialog{{ diploma.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete this diploma ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="{{ path('deleteDiploma', { 'id': diploma.id }) }}" class="btn btn-danger">Confirm</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">No diplomas found.</div>
        {% endif %}
        <a href="{{ path('addDiploma', {'idbio': bio.id}) }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add diploma</button></a>
    </div>

    <div class="tab-pane fade in active adminTable well" id="articles">
        <h2>Professional experiences</h2>
        {% if bio.exp %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Title</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                    </thead>

                    {% for exp in bio.exp %}
                        <tr>
                            <td>{{ exp.startDate | date("Y-m-d") }}</td>
                            <td>{{ exp.endDate | date("Y-m-d") }}</td>
                            <td><a class="articleTitle" href="#">{{ exp.title }}</a></td>
                            <td>
                                <a href="{{ path('editExp', { 'id': exp.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ exp.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <div class="modal fade" id="articleDialog{{ exp.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete this diploma ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="{{ path('deleteExp', { 'id': exp.id }) }}" class="btn btn-danger">Confirm</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">No exp found.</div>
        {% endif %}
        <a href="{{ path('addExp', {'idbio': bio.id}) }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add exp</button></a>
    </div>
    <div class="tab-pane fade in active adminTable well" id="articles">
        <h2>Skills</h2>
        {% if bio.skill %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Level</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                    </thead>

                    {% for skill in bio.skill %}
                        <tr>
                            <td>{{ skill.label }}</td>
                            <td>{{ skill.link }}</td>
                            <td>{{ skill.level }}</td>
                            <td>
                                <a href="{{ path('editSkill', { 'id': skill.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#skillDialog{{ skill.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <div class="modal fade" id="skillDialog{{ skill.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete this skill ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="{{ path('deleteSkill', { 'id': skill.id }) }}" class="btn btn-danger">Confirm</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">No skill found.</div>
        {% endif %}
        <a href="{{ path('addSkill', {'idbio': bio.id}) }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add skill</button></a>
    </div>
    <div class="tab-pane fade in active adminTable well" id="articles">
        <h2>Interests</h2>
        {% if bio.interest %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th>Link</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                    </thead>

                    {% for interest in bio.interest %}
                        <tr>
                            <td>{{ interest.label }}</td>
                            <td>{{ interest.link }}</td>
                            <td>
                                <a href="{{ path('editInterest', { 'id': interest.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#interestDialog{{ interest.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <div class="modal fade" id="interestDialog{{ interest.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete this interest ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="{{ path('deleteInterest', { 'id': interest.id }) }}" class="btn btn-danger">Confirm</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">No interest found.</div>
        {% endif %}
        <a href="{{ path('addInterest', {'idbio': bio.id}) }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add interest</button></a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="#">Admin connecté!</a>
    {% endif %}

{% endblock %}