{% extends "Layout/Default.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'Partials/Elements/Sidebar/Blog.html.twig' %}

            <div class="col-xs-12 col-sm-8 col-md-8">
                {% for article in articles %}
                    <div class="row well">
                        <h1><a href="{{ path('showArticle', {'id': article.id}) }}" title="{{ article.title }}">{{ article.title }}</a></h1>
                        <hr>
                        {% if article.image %}
                            <img class="img-responsive" src="upload/{{ article.image }}" alt=""> <!--http://placehold.it/900x300-->
                        {% endif %}
                        <hr>
                        {#<p class="lead text-justify">{{ article.content|raw }}</p>#}

                        {% include 'Partials/Article/ShareSocialNetwork.html.twig' %}

                        <p class="author-date text-right">Posté par <a href="{{ path('indexBio') }}">{{ user(article.author).username }}</a><i class="glyphicon glyphicon-time"></i> le {{ article.publishedDate |date("j M Y") }}</p>

                        {#{% include 'Partials/Article/Comments.html.twig' %}#}

                    </div>
                {% endfor %}

                {#<nav>#}
                    {#<ul class="pager">#}
                        {#<li><div class="row well"><a href="#" class="btn btn-block"> Older ...</a></div></li>#}
                    {#</ul>#}
                {#</nav>#}

            </div>
        </div>
    </div>
{% endblock %}